 <span class="copyright">
    &copy; {{date format="YYYY"}}. All rights reserved. Built with <a href="http://www.54monkey.com/" target="_blank">Happy Monkey</a>
   <br /> 京ICP备15023513号
  </span>
</footer>

